        * {
            box-sizing: border-box;
            margin: 5px;
            padding: 0;
        }
        
        .container {
            width: 80%;
            margin: auto;
        }
        
        input {
            width: 100%;
        }
        
        .im {
            width: 30px;
            height: 30px;
        }
        
        h2 {
            color: #51873E;
        }
        
        label,
        .im {
            display: block;
        }
        
        main,
        header {
            border-bottom-width: 2px;
            border-bottom-style: dotted;
            border-bottom-color: #51873E;
        }
        
        form>img {
            width: 100%;
            margin: 0%;
        }
        
        .flex {
            display: flex;
            justify-content: space-between;
        }
        
        .flex input {
            width: 214x;
        }
        
        header .grid1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
        main .grid2 :last-child,
        header .grid1 .t {
            grid-column: span 2;
        }
        
        main .grid2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
        select {
            width: 300px;
        }
        
        footer {
            height: 40px;
            background-color: #51873E;
            margin: 0;
        }
        
        footer button {
            padding: 4px;
            font-size: xx-small;
            margin-top: 9px;
            margin-left: 17px;
            background-color: gainsboro;
            border: 1px solid gray;
        }
        
        body {
            background-image: linear-gradient(to right, #51873E, #C7E2AD);
        }
        
        .container {
            background-color: white;
        }