        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0;
        }
        
         :root {
            --color: rgb(210, 198, 148);
        }
        
        .container .grid {
            display: grid;
            grid-template-columns: 245px 1fr;
        }
        
        .container {
            width: 100%;
            height: 100vh;
        }
        
        .container .gridimg {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: min-content;
            row-gap: 0px;
            height: 100vh;
            align-content: flex-start;
        }
        
        .container .nav {
            grid-column: span 4;
            height: 30px;
            background-color: var(--color);
            grid-row: 1/2;
            display: flex;
            color: whitesmoke;
            align-items: center;
            font-size: small;
        }
        
        .container .nav p {
            margin: 10px;
            cursor: pointer;
        }
        
        .container .nav p:first-child {
            background-color: rgba(181, 179, 177, 0.428);
            padding: 3px;
        }
        
        .container .gridimg img {
            width: 191.3px;
            height: 133px;
            display: block;
            transform-origin: center;
            transition-duration: .74s;
            filter: blur(1px);
            transition-timing-function: linear;
        }
        
        .container img:hover {
            transform: scale(1.001) rotatey(180deg);
            filter: blur(0px);
        }
        
        .container aside .img1 img {
            width: 40px;
            height: 29px;
        }
        
        .container aside .img1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2px;
            transform-origin: center;
            transition-duration: .4s;
        }
        
        .container aside {
            width: 120px;
            margin: 10px auto;
            font-size: x-small;
            color: gray;
            height: 100vh;
        }
        
        .container aside p {
            text-transform: capitalize;
            margin: 6px;
        }
        
        .container aside h2 {
            font-family: 'Archivo Black', sans-serif;
            font-size: 10cap;
            color: rgba(0, 0, 0, 0.702);
        }
        
        .container aside div {
            position: relative;
        }
        
        .container aside div:first-child::before {
            content: "  ";
            background-color: var(--color);
            z-index: 5;
            top: 0%;
            width: 14px;
            height: 10px;
            display: block;
            position: absolute;
            transform: translate(4.5px, 20px);
            animation-name: i;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
        }
        
        @keyframes i {
            0% {
                transform: translate(4.5px, 20px);
            }
            60% {
                transform: translate(4.5px, 10px);
                background-color: rgb(255, 255, 255);
            }
            90% {
                transform: translate(4.5px, 0px);
            }
        }
        
        .bold {
            color: black;
            font-weight: bolder;
        }
        
        .container .grid .icon i {
            margin: 20px 7px;
            font-size: large;
            transition-duration: 1s;
        }
        
        .container .grid .icon i:nth-child(1):hover {
            transform: scale(1.4);
            color: rgb(178, 28, 23);
        }
        
        .container .grid .icon i:nth-child(2):hover {
            transform: scale(1.4);
            color: rgb(23, 144, 178);
        }
        
        .container .grid .icon i:nth-child(3):hover {
            transform: scale(1.4);
            color: rgb(2, 24, 30);
        }
        
        .container aside h3 {
            margin: 10px 0;
        }